.chart{
    border: 1px solid gray; 

}

.chart rect{
    fill: #9DCAE1;
    stroke: white;
}

.chart .bar-label{
    fill: white;
    font: 10px sans-serif;
}

.chart .y-scale-label{
    fill: #ccc;
    font: 10px sans-serif;
}


.chart line{
    stroke: #ccc;   
}

.chart div {
/*    background-color: rgb(100, 50, 150);*/
    background-color: #9DCAE1;
    color: #fff;
    text-align: right;
    font: 10px san-serif;
    padding: 3px;
    margin: 1px;
}